<div class="celonis">
  <video
    class="celonis__video"
    preload="none" muted playsinline>
    <source
      src="/assets/images/celonis.av1.mp4"
      type="video/mp4; codecs=av01.0.05M.08"/>
    <source
      src="/assets/images/celonis.h264.mp4"
      type="video/mp4; codecs=avc1.4D401E"/>
  </video>
</div>
