---
layout: default
permalink: 404.html
title: Page not found
eleventyExcludeFromCollections: true
---
<div class="error">
  <div class="error__container">
    <h1 class="error__heading heading">
      Page not found
    </h1>
    <a class="link" href="/">Back to the homepage</a>
  </div>
</div>
