---
layout: default
---
{% include "components/themepicker.njk" %}
<main class="page__main" role="main">
  {% include "components/hero.njk" %}
  {% include "components/skills.njk" %}
  {% include "components/projects.njk" %}
</main>
<footer class="page__footer">
  {% include "components/contact.njk" %}
</footer>
