<div class="contact section section--large section--secondary">
  <div class="container">
    <div class="contact__container">
      <div class="mail">
        <h2 class="mail__heading heading">
          Let’s get in touch
        </h2>
        <p class="mail__text">
          Have a question, or want to work together on a project? Feel free to email me at
        </p>
        <a class="mail__link link" href="mailto:chekromul@gmail.com">chekromul@gmail.com</a>
      </div>
      <div class="socials">
        <ul class="socials__list" aria-label="My profiles on sites">
          <li class="socials__item">
            <a class="contact-list__link link" href="{{ data.social.github }}">GitHub</a>
          </li>
          <li class="socials__item">
            <a class="contact-list__link link" href="{{ data.social.codepen }}">CodePen</a>
          </li>
          <li class="socials__item">
            <a class="contact-list__link link" href="{{ data.social.linkedin }}">LinkedIn</a>
          </li>
        </ul>
      </div>

      <svg
        class="contact__svg"
        width="150" height="118" viewBox="0 0 150 118"
        aria-hidden="true">
        <path opacity=".32" d="M56 0l93 25-25 93-93-25z"/>
        <path opacity=".16" d="M100 41v47L0 111z"/>
      </svg>
    </div>
  </div>
</div>
