<section class="skills section section--secondary">
  <div class="container skills__container">

    <h2 class="skills__heading heading" id="specialties">My specialties</h2>
    <p class="skills__text">
      I&nbsp;develop user-centered interfaces with a&nbsp;strong focus on&nbsp;inclusive design, performance, and accessibility.
    </p>
    <p class="skills__text">
      In my work I’m&nbsp;constantly learning and&nbsp;keep up to&nbsp;date with the&nbsp;latest technologies and features. I&nbsp;love to&nbsp;make complex things simple and joy to&nbsp;use.
    </p>
    <p class="skills__text">
      Here are the&nbsp;things I&nbsp;do:
    </p>

    <ul class="skills__list skills-list" aria-labelledby="specialties">

      <li class="skills__item skill">
        <svg
          class="skill__icon skill-icon"
          width="32" height="32" viewBox="0 0 640 512"
          aria-hidden="true">
          <path class="skill-icon__path" d="M422 18a12 12 0 018 15L294 503a12 12 0 01-15 8l-61-17a12 12 0 01-8-15L346 9a12 12 0 0115-9z"/>
          <path d="M636 247L492 112a12 12 0 00-17 1l-43 46a12 12 0 000 17l91 80-91 80a12 12 0 000 17l43 46a12 12 0 0017 1l144-135a12 12 0 000-18zm-428-88l-43-46a12 12 0 00-17-1L4 247a12 12 0 000 18l144 135a12 12 0 0017-1l43-46a12 12 0 000-17l-91-80 91-80a12 12 0 000-17z"/>
        </svg>
        <h3 class="skill__title underline">UI Development</h3>
        <p class="skill__description">
          Crafting semantic HTML markup, resilient CSS, and presentational JavaScript to&nbsp;create a&nbsp;maintainable UI and components. And everything that accompanies the development process: architecting the&nbsp;flexibility of&nbsp;the components library, cross-browser/device testing, optimizing the performance.
        </p>
        <ul class="skill__technologies technologies" aria-label="Technologies and practices in UI development">
          <li class="technologies__item">HTML5</li>
          <li class="technologies__item">SCSS</li>
          <li class="technologies__item">Less</li>
          <li class="technologies__item">PostCSS</li>
          <li class="technologies__item">CSS Modules</li>
          <li class="technologies__item">Custom Properties</li>
          <li class="technologies__item">ES6+</li>
          <li class="technologies__item">React</li>
          <li class="technologies__item">Angular</li>
          <li class="technologies__item">Dart</li>
          <li class="technologies__item">A11y</li>
          <li class="technologies__item">BEM</li>
          <li class="technologies__item">Stylelint</li>
          <li class="technologies__item">Webpack</li>
        </ul>
      </li>

      <li class="skills__item skill">
        <svg
          class="skill__icon skill-icon"
          width="32" height="32" viewBox="0 0 512 512"
          aria-hidden="true">
          <path d="M256 64a192 192 0 100 384 192 192 0 000-384zm0 44a36 36 0 11-36 36 36 36 0 0136-36zm118 98c-29 7-56 13-82 16 0 101 12 123 25 155a18 18 0 11-34 14c-9-23-17-41-22-79h-10c-5 38-13 56-22 79a18 18 0 11-34-14c13-32 25-54 25-155-26-3-53-9-82-16a16 16 0 018-31c96 23 124 23 220 0a16 16 0 019 31h-1z"/>
          <path class="skill-icon__path" d="M256 180a36 36 0 10-36-36 36 36 0 0036 36zm110-5c-96 23-124 23-220 0a16 16 0 00-8 31c29 7 56 13 82 16 0 101-12 123-25 155a18 18 0 1034 14c9-23 17-41 22-79h10c5 38 13 56 22 79a18 18 0 1034-14c-13-32-25-54-25-155 26-3 53-9 82-16a16 16 0 00-7-31h-1zM256 8a248 248 0 100 496 248 248 0 000-496zm0 440z"/>
        </svg>
        <h3 class="skill__title underline">Accessibility</h3>
        <p class="skill__description">
          I’m doing my best to&nbsp;make the interfaces accessible for&nbsp;everyone so that the content can be reached by&nbsp;any user. I&nbsp;develop WCAG compliant websites and automate accessibility testing.
        </p>
        <ul class="skill__technologies technologies" aria-label="Technologies and practices in accessibility">
          <li class="technologies__item">WCAG</li>
          <li class="technologies__item">WAI-ARIA</li>
          <li class="technologies__item">AA Compliance</li>
          <li class="technologies__item">NVDA</li>
          <li class="technologies__item">JAWS</li>
          <li class="technologies__item">VoiceOver</li>
          <li class="technologies__item">Narrator</li>
          <li class="technologies__item">axe Tools</li>
        </ul>
      </li>

      <li class="skills__item skill">
        <svg
          class="skill__icon skill-icon"
          width="32" height="32" viewBox="0 0 512 512"
          aria-hidden="true">
          <path class="skill-icon__path" d="M500 96a12 12 0 0012-12V44a12 12 0 00-12-12h-40a12 12 0 00-12 12v20H64V44a12 12 0 00-12-12H12A12 12 0 000 44v40a12 12 0 0012 12h20v320H12a12 12 0 00-12 12v40a12 12 0 0012 12h40a12 12 0 0012-12v-20h384v20a12 12 0 0012 12h40a12 12 0 0012-12v-40a12 12 0 00-12-12h-20V96zm-84 276a12 12 0 01-12 12H236a12 12 0 01-12-12v-84H108a12 12 0 01-12-12V140a12 12 0 0112-12h168a12 12 0 0112 12v84h116a12 12 0 0112 12z"/>
          <path d="M288 140v136a12 12 0 01-12 12H108a12 12 0 01-12-12V140a12 12 0 0112-12h168a12 12 0 0112 12z"/>
        </svg>
        <h3 class="skill__title underline">Design Systems</h3>
        <p class="skill__description">
          As&nbsp;a&nbsp;UI&nbsp;developer, I&nbsp;work in collaboration between design and engineering to&nbsp;ensure the brand, design vision, and UX best practices and guidelines are properly translated into the browser.
        </p>
        <ul class="skill__technologies technologies" aria-label="Technologies and practices in design systems">
          <li class="technologies__item">UX</li>
          <li class="technologies__item">Figma</li>
          <li class="technologies__item">UI Kits</li>
          <li class="technologies__item">Design tokens</li>
          <li class="technologies__item">Wireframes</li>
          <li class="technologies__item">Typography</li>
          <li class="technologies__item">Guidelines</li>
        </ul>
      </li>
    </ul>

    <svg
      class="skills__svg"
      width="126" height="158" viewBox="0 0 126 158"
      aria-hidden="true">
      <path opacity=".24" d="M81 37l45 77-77 44L5 81z"/>
      <path opacity=".24" d="M30 1l6 3L6 55l-6-3z"/>
      <ellipse opacity=".32" cx="39.9" cy="43.5" rx="12.5" ry="12"/>
    </svg>
  </div>
</section>
